@model ColleagueManagement_MVC.Models.DeptColleague

@{
    ViewBag.Title = "AddDeptColleague";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddDeptColleague</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DeptColleague</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ColleagueId, "Colleague", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.ColleagueId, (IEnumerable<SelectListItem>)@ViewBag.ColleagueId, "Choose an option", new { @class = "form-control" })
                @*@Html.DropDownList("ColleagueId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ColleagueId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)@ViewBag.DepartmentId, "Choose an option", new { @class = "form-control" })
                @*@Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
